Source: bloonix-plugins-basic
Section: net
Priority: extra
Maintainer: Jonny Schulz <js@bloonix.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.bloonix.de/

Package: bloonix-plugins-basic
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bloonix-core (>= 0.19), libauthen-sasl-perl, libmime-base64-perl, libnet-smtp-ssl-perl, libnet-dns-perl, curl, sudo
Description: Bloonix Plugins Base
 bloonix-plugins-basic provides OS independent plugins.
